*.pid
*.xml
*.csr
*.crt
*.key
*.bak
*.pem
www
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
google_calendars.yaml
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
*.conf
plex.conf
phue.conf
ecobee.conf
.*
!/.gitignore
!/.travis.yml
html5_push_registrations.conf
ip_bans.yaml
/icloud/*
/certs/*